<p id="notice"><%= notice %></p>

<p>
  <strong>Address type:</strong>
  <%= @treasurer.address_type_id %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @treasurer.prefix_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @treasurer.firstname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @treasurer.mi %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @treasurer.lastname %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @treasurer.alias %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @treasurer.suffix %>
</p>

<p>
  <strong>Addresschange:</strong>
  <%= @treasurer.addresschange %>
</p>

<p>
  <strong>Address:</strong>
  <%= @treasurer.address %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @treasurer.suite %>
</p>

<p>
  <strong>City:</strong>
  <%= @treasurer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @treasurer.state_id %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @treasurer.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @treasurer.phone %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @treasurer.ext %>
</p>

<%= link_to 'Edit', edit_treasurer_path(@treasurer) %> |
<%= link_to 'Back', treasurers_path %>
