<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @non_monetary_contribution.report_id %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @non_monetary_contribution.transaction_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @non_monetary_contribution.entity_id %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @non_monetary_contribution.travel_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @non_monetary_contribution.candidate_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @non_monetary_contribution.date %>
</p>

<p>
  <strong>Outofstatepac:</strong>
  <%= @non_monetary_contribution.outofstatepac %>
</p>

<p>
  <strong>Pacid:</strong>
  <%= @non_monetary_contribution.pacid %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @non_monetary_contribution.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @non_monetary_contribution.description %>
</p>

<p>
  <strong>Nmctotal:</strong>
  <%= @non_monetary_contribution.nmctotal %>
</p>

<%= link_to 'Edit', edit_non_monetary_contribution_path(@non_monetary_contribution) %> |
<%= link_to 'Back', non_monetary_contributions_path %>
