<p id="notice"><%= notice %></p>

<p>
  <strong>Filer type:</strong>
  <%= @filer.filer_type_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @filer.state_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @filer.firstname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @filer.mi %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @filer.lastname %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @filer.committee %>
</p>

<p>
  <strong>Address:</strong>
  <%= @filer.address %>
</p>

<p>
  <strong>Addresstwo:</strong>
  <%= @filer.addresstwo %>
</p>

<p>
  <strong>Suite:</strong>
  <%= @filer.suite %>
</p>

<p>
  <strong>City:</strong>
  <%= @filer.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @filer.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @filer.phone %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @filer.ext %>
</p>

<p>
  <strong>Email:</strong>
  <%= @filer.email %>
</p>

<p>
  <strong>Releasepasswordto:</strong>
  <%= @filer.releasepasswordto %>
</p>

<p>
  <strong>Emailreleasepassword:</strong>
  <%= @filer.emailreleasepassword %>
</p>

<p>
  <strong>Receivedate:</strong>
  <%= @filer.receivedate %>
</p>

<p>
  <strong>Active:</strong>
  <%= @filer.active %>
</p>

<%= link_to 'Edit', edit_filer_path(@filer) %> |
<%= link_to 'Back', filers_path %>
